.header {
  background-color: #f5f5f5; /* or #eaeaea */
  position: sticky;
  top: 0;
  padding: 10px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-container {
  align-items: center;
  display: flex;
  align-self: flex-end;
  flex-direction: row;
  max-width: 100vw;
  margin: 0 auto;
}

.logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  /* margin-right: 10px; */
  margin-left: 10px;
}

.title-container {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title {
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
}