.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40vh;
  width: 100vw;
}

.Buttons {
  position: sticky;
  bottom: 20px;
}

.top-section {
  position: relative;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.top-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* background-color: rgba(255, 255, 255, 0.8); */
  padding: 16px;
  border-radius: 8px;
  /* box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); */
  max-width: 50vw;
}

.overlay-text h6 {
  margin: 0;
}